body{ background: linear-gradient(46deg, #730286,#fa6868, #02246d,#f3f0ef);
    height: 100vh;
    background-size: 500% 500%;
    margin: 0;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#pw{
    width: 270px;
    height: 70px;
    display: block;
    border-radius: 30px;
    border: none;
   margin-left: 570px;
   margin-top: 100px;
   background-color: rgb(210, 217, 218);
   font-size: 20px;
   color: white;
}
#sub{
width: 150px;
height: 40px;
margin-left: 640px;
border-radius: 16px;
border: none;
margin-top: 20px;
background-color: rgb(210, 217, 218);
transition:2s;
color: white;

}
::placeholder{
    color: rgb(21, 3, 85);
    text-align: center;
}